[package]
name = "emutk-core"
version = "0.1.0"
authors = ["moonheart08 <moonheart08@users.noreply.github.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytemuck = "^1.2"